server {
	listen 80;
	root /var/www/wordpress/;

	location / {
		index index.php index.html;
	}

	location ~ .\.php$ {
		fastcgi_pass unix:/run/php/php{{ php.version }}-fpm.sock;
		fastcgi_index index.php;
		fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
		include fastcgi_params;
	}
}
