<?php
define( 'DB_NAME', '{{ mariadb.dbname }}' );
define( 'DB_USER', '{{ mariadb.dbuser }}' );
define( 'DB_PASSWORD', '{{ dbpass }}' );
define( 'DB_HOST', 'localhost' );
define( 'DB_CHARSET', 'utf8mb4' );
define( 'DB_COLLATE', '' );

{{ secret_key.content }}

$table_prefix = 'wp_';

define( 'WP_DEBUG', false );

if ( ! defined( 'ABSPATH' ) ) {
	define( 'ABSPATH', __DIR__ . '/' );
}

require_once ABSPATH . 'wp-settings.php';
